# Conversion of mega dataframe + separation

## Importing dataframe + creating named columns for later use

In [65]:
#! /usr/bin/python3
import os
import urllib.parse as ulp
import pandas as pd
import numpy as np
# import cgi
#import cgitb
#cgitb.enable(display=0, logdir='/var/www/cgi-bin/'i)

original_df = pd.read_csv("CCE-P2107_FINAL_EVENTLOG_20210813_190609.csv")

# For renaming
lon_lat = ["LonDec","LatDec"]
seasor_cols = ["LonDec","LatDec","Size","Angle","Font","Justify","Haul"]

# Columns to drop after
drop_cols = ['Message ID', 'Date', 'Event', 'Instrument', 'Action', 'Transect',
       'Station', 'Seafloor', 'Author', 'Comment', 'Cruise', 'R2R_Event', 'dateTimeUTC',
       'GPS_Time', 'dateTime8601', 'Revisions']

original_df
# original_df.shape (812 rows, 19 cols)
# original_df.columns

,Message ID,Date,Event,Instrument,Action,Transect,Station,Cast,Latitude,Longitude,Seafloor,Author,Comment,Cruise,R2R_Event,dateTimeUTC,GPS_Time,dateTime8601,Revisions
0,1,Tue 13 Jul 2021 16:47:10 +0000,20210713.1647.001,Ship,other,NaN,NaN,NaN,32.706607,-117.236197,NaN,mStukel1,gps check pre cruise,rr2105,rr2105-SE-20210713.1647.001,2.021071e+07,2021/07/13 16:47:10,2021-07-13T16:47:10+00:00,NaN
1,2,Wed 14 Jul 2021 15:32:41 +0000,20210714.1532.001,Bongo Net,deploy,NaN,NaN,NaN,33.606036,-119.323358,NaN,anOther,Test - Bongo team (Moira),rr2105,rr2105-SE-20210714.1532.001,2.021071e+07,2021/07/14 15:32:41,2021-07-14T15:32:41+00:00,NaN
2,3,Wed 14 Jul 2021 16:11:47 +0000,20210714.1611.001,Bongo Net,recover,NaN,NaN,NaN,33.604527,-119.331786,NaN,anOther,Test - Bongo team (Moira) - 2021/07/14 15:50:10,rr2105,rr2105-SE-20210714.1611.001,2.021071e+07,2021/07/14 16:11:47,2021-07-14T16:11:47+00:00,NaN
3,4,Wed 14 Jul 2021 16:25:26 +0000,20210714.1625.001,CTD911,deploy,NaN,Test Station,Cast 2,33.604518,-119.331762,NaN,mStukel1,NaN,rr2105,rr2105-SE-20210714.1625.001,2.021071e+07,2021/07/14 16:25:26,2021-07-14T16:25:26+00:00,NaN
4,5,Wed 14 Jul 2021 16:58:31 +0000,20210714.1658.001,CTD911,maxDepth,NaN,Test Station,2,33.604542,-119.331774,NaN,mStukel1,NaN,rr2105,rr2105-SE-20210714.1658.001,2.021071e+07,2021/07/14 16:58:31,2021-07-14T16:58:31+00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,824,Fri 13 Aug 2021 04:59:45 +0000,20210813.0459.001,Salp Net,deploy,NaN,NaN,NaN,34.700854,-120.934278,NaN,anOther,NaN,rr2105,rr2105-SE-20210813.0459.001,2.021081e+07,2021/08/11 17:54:01,2021-08-11T17:54:00+00:00,NaN
808,825,Fri 13 Aug 2021 16:09:29 +0000,20210813.1609.001,Bongo Net,deploy,NaN,NaN,NaN,34.542449,-120.828517,NaN,anOther,NaN,rr2105,rr2105-SE-20210813.1609.001,2.021081e+07,2021/08/11 19:58:01,2021-08-11T19:58:00+00:00,NaN
809,826,Fri 13 Aug 2021 16:11:42 +0000,20210813.1611.001,Bongo Net,recover,NaN,NaN,NaN,34.548544,-120.839506,NaN,anOther,NaN,rr2105,rr2105-SE-20210813.1611.001,2.021081e+07,2021/08/11 20:23:46,2021-08-11T20:23:40+00:00,NaN
810,827,Fri 13 Aug 2021 16:12:31 +0000,20210813.1612.001,Salp Net,deploy,NaN,NaN,NaN,34.548534,-120.839489,NaN,anOther,NaN,rr2105,rr2105-SE-20210813.1612.001,2.021081e+07,2021/08/11 20:29:01,2021-08-11T20:28:57+00:00,NaN
811,828,Fri 13 Aug 2021 16:13:23 +0000,20210813.1613.001,Salp Net,recover,NaN,NaN,NaN,34.549172,-120.842381,NaN,anOther,NaN,rr2105,rr2105-SE-20210813.1613.001,2.021081e+07,2021/08/11 21:00:46,2021-08-11T21:00:39+00:00,NaN

## Creating dataframes

In [66]:
# Ensuring that the empty dataframes have columns
default_cols = ['Message ID', 'Date', 'Event', 'Instrument', 'Action', 'Transect',
       'Station', 'Cast', 'Latitude', 'Longitude', 'Seafloor', 'Author',
       'Comment', 'Cruise', 'R2R_Event', 'dateTimeUTC', 'GPS_Time',
       'dateTime8601', 'Revisions']

ctd_df = pd.DataFrame(columns=default_cols)

mocness_df = pd.DataFrame(columns=default_cols)

mvp_df = pd.DataFrame(columns=default_cols)

seasoar_df = pd.DataFrame(columns=default_cols)

## Importing data to correct frames

In [67]:
for i in range(len(original_df)):
    if("ctd" in original_df.iloc[i,3].lower()):
        ctd_df.loc[len(ctd_df.index)] = original_df.loc[i]
        # df.loc[len(df.index)] = ['Amy', 89, 93]
    elif("mocness" in original_df.iloc[i,3].lower()):
        mocness_df.loc[len(mocness_df.index)] = original_df.loc[i]
    elif("mvp" in original_df.iloc[i,3].lower()):
        mvp_df.loc[len(mvp_df.index)] = original_df.loc[i]
    elif("seasoar" in original_df.iloc[i,3].lower()):
        seasoar_df.loc[len(seasoar_df.index)] = original_df.loc[i]
    else:
        continue

## Checking for correct imports

In [68]:
ctd_df

,Message ID,Date,Event,Instrument,Action,Transect,Station,Cast,Latitude,Longitude,Seafloor,Author,Comment,Cruise,R2R_Event,dateTimeUTC,GPS_Time,dateTime8601,Revisions
0,4,Wed 14 Jul 2021 16:25:26 +0000,20210714.1625.001,CTD911,deploy,NaN,Test Station,Cast 2,33.604518,-119.331762,NaN,mStukel1,NaN,rr2105,rr2105-SE-20210714.1625.001,20210714.1625,2021/07/14 16:25:26,2021-07-14T16:25:26+00:00,NaN
1,5,Wed 14 Jul 2021 16:58:31 +0000,20210714.1658.001,CTD911,maxDepth,NaN,Test Station,2,33.604542,-119.331774,NaN,mStukel1,NaN,rr2105,rr2105-SE-20210714.1658.001,20210714.1658,2021/07/14 16:58:31,2021-07-14T16:58:31+00:00,NaN
2,6,Wed 14 Jul 2021 17:19:38 +0000,20210714.1719.001,CTD911,recover,NaN,Test Station,2,33.604522,-119.331765,NaN,rTorres1,NaN,rr2105,rr2105-SE-20210714.1719.001,20210714.1719,2021/07/14 17:19:38,2021-07-14T17:19:38+00:00,NaN
3,13,Thu 15 Jul 2021 08:47:45 +0000,20210715.0847.002,CTD911,deploy,Survey start,NaN,4,34.419305,-120.647903,NaN,anOther,NaN,rr2105,rr2105-SE-20210715.0847.002,20210715.0847,2021/07/15 08:47:45,2021-07-15T08:47:45+00:00,NaN
4,14,Thu 15 Jul 2021 09:13:29 +0000,20210715.0913.001,CTD911,maxDepth,NaN,NaN,4,34.419298,-120.647896,NaN,anOther,NaN,rr2105,rr2105-SE-20210715.0913.001,20210715.0913,2021/07/15 09:13:29,2021-07-15T09:13:29+00:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,711,Thu 12 Aug 2021 01:23:18 +0000,20210812.0123.001,CTD911,recover,NaN,Deep Thorium Station,104,34.360055,-121.457939,NaN,rTorres1,NaN,rr2105,rr2105-SE-20210812.0123.001,20210812.0123,2021/08/12 01:23:17,2021-08-12T01:23:18+00:00,NaN
304,715,Thu 12 Aug 2021 16:45:33 +0000,20210812.1645.001,CTD911,deploy,DDT dumpsite,DDT-0,105,33.567423,-118.425122,NaN,rTorres1,NaN,rr2105,rr2105-SE-20210812.1645.001,20210812.1645,2021/08/12 16:45:33,2021-08-12T16:45:33+00:00,NaN
305,716,Thu 12 Aug 2021 17:19:41 +0000,20210812.1719.001,CTD911,maxDepth,DDT dumpsite,DDT-0,105,33.567034,-118.42524,NaN,rTorres1,NaN,rr2105,rr2105-SE-20210812.1719.001,20210812.1719,2021/08/12 17:19:40,2021-08-12T17:19:41+00:00,NaN
306,717,Thu 12 Aug 2021 17:31:20 +0000,20210812.1731.001,CTD911,recover,DDT Station,DDT-0,105,33.56703,-118.425258,NaN,rTorres1,NaN,rr2105,rr2105-SE-20210812.1731.001,20210812.1731,2021/08/12 17:31:20,2021-08-12T17:31:20+00:00,NaN
307,759,Fri 13 Aug 2021 01:38:06 +0000,20210813.0138.001,CTD911,deploy,DDT dumpsite,Mocness,NaN,33.543892,-118.417105,NaN,smatthews,NaN,rr2105,rr2105-SE-20210813.0138.001,20210813.0138,2021/08/13 01:38:05,2021-08-13T01:38:06+00:00,NaN

In [69]:
mocness_df

,Message ID,Date,Event,Instrument,Action,Transect,Station,Cast,Latitude,Longitude,Seafloor,Author,Comment,Cruise,R2R_Event,dateTimeUTC,GPS_Time,dateTime8601,Revisions
0,8,Wed 14 Jul 2021 23:49:05 +0000,20210714.2349.001,MOCNESS1,deploy,NaN,Test Station,NaN,33.806384,-120.418896,NaN,mdecima,MOCNESS test target 1000m,rr2105,rr2105-SE-20210714.2349.001,20210714.2349,2021/07/14 23:49:05,2021-07-14T23:49:05+00:00,NaN
1,11,Thu 15 Jul 2021 04:09:44 +0000,20210715.0409.001,MOCNESS1,recover,NaN,Test Station,NaN,33.920693,-120.557683,NaN,smatthews,NaN,rr2105,rr2105-SE-20210715.0409.001,20210715.0409,2021/07/15 04:09:44,2021-07-15T04:09:44+00:00,NaN
2,104,Sat 17 Jul 2021 20:10:54 +0000,20210717.2010.001,MOCNESS1,deploy,NaN,Station N,1,36.512298,-122.272833,NaN,smatthews,NaN,NaN,rr2105-SE-20210717.2010.001,20210717.201,2021/07/17 20:09:57,2021-07-17T20:10:00+00:00,& Mon Jul 19 06:08:45 2021
3,118,Sun 18 Jul 2021 07:20:29 +0000,20210718.0720.001,MOCNESS1,deploy,Station N,N,2,36.517624,-122.279545,NaN,mdecima,NaN,rr2105,rr2105-SE-20210718.0720.001,20210718.072,2021/07/18 07:20:29,2021-07-18T07:20:29+00:00,NaN
4,121,Sun 18 Jul 2021 10:59:29 +0000,20210718.1059.002,MOCNESS1,recover,Station N,N,2,36.625325,-122.33098,NaN,smatthews,NaN,NaN,rr2105-SE-20210718.1059.002,20210718.1059,2021/07/18 10:58:57,2021-07-18T10:59:00+00:00,& Mon Jul 19 06:09:38 2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,728,Thu 12 Aug 2021 22:38:13 +0000,20210812.2238.001,MOCNESS1,recover,NaN,NaN,NaN,36.183426,-122.169784,NaN,anOther,NaN,rr2105,rr2105-SE-20210812.2238.001,20210723.0742,2021/07/23 07:41:57,2021-07-23T07:42:00+00:00,NaN
57,735,Thu 12 Aug 2021 23:12:54 +0000,20210812.2312.001,MOCNESS1,deploy,NaN,NaN,NaN,36.278634,-122.73969,NaN,anOther,NaN,rr2105,rr2105-SE-20210812.2312.001,20210728.233,2021/07/28 23:29:57,2021-07-28T23:30:00+00:00,NaN
58,736,Thu 12 Aug 2021 23:16:46 +0000,20210812.2316.001,MOCNESS1,maxDepth,NaN,NaN,NaN,36.326509,-122.760522,NaN,anOther,1M Mocness @ 465m,rr2105,rr2105-SE-20210812.2316.001,20210729.0607,2021/07/29 06:06:57,2021-07-29T06:07:00+00:00,NaN
59,737,Thu 12 Aug 2021 23:18:00 +0000,20210812.2318.001,MOCNESS1,recover,NaN,NaN,NaN,36.355552,-122.773653,NaN,anOther,NaN,rr2105,rr2105-SE-20210812.2318.001,20210729.0702,2021/07/29 07:01:57,2021-07-29T07:02:00+00:00,NaN
60,765,Fri 13 Aug 2021 01:54:52 +0000,20210813.0154.001,MOCNESS1,recover,NaN,NaN,NaN,34.727205,-130.539305,NaN,anOther,NaN,rr2105,rr2105-SE-20210813.0154.001,20210804.0742,2021/08/04 07:41:59,2021-08-04T07:42:00+00:00,NaN

In [70]:
mvp_df

Empty DataFrame
Columns: [Message ID, Date, Event, Instrument, Action, Transect, Station, Cast, Latitude, Longitude, Seafloor, Author, Comment, Cruise, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601, Revisions]
Index: []

In [71]:
seasoar_df

Empty DataFrame
Columns: [Message ID, Date, Event, Instrument, Action, Transect, Station, Cast, Latitude, Longitude, Seafloor, Author, Comment, Cruise, R2R_Event, dateTimeUTC, GPS_Time, dateTime8601, Revisions]
Index: []

## Editing dataframes to have the correct columns + labels

For `ctd_df`, `mocness_df`, and `mvp_df`, we use the `lon_lat` labels; `seasoar_df` uses `seasor_cols` variable in the columns.

#### Reminder
`lon_lat = ["LonDec","LatDec"]` </br>
`seasor_cols = ["LonDec","LatDec","Size","Angle","Font","Justify","Haul"]`

### Fixing `ctd_df` dataframe

#### Dropping unnecessary columns

In [72]:
ctd_df.drop(drop_cols, axis = 1, inplace = True)
ctd_df

       Cast   Latitude   Longitude
0    Cast 2  33.604518 -119.331762
1         2  33.604542 -119.331774
2         2  33.604522 -119.331765
3         4  34.419305 -120.647903
4         4  34.419298 -120.647896
..      ...        ...         ...
303     104  34.360055 -121.457939
304     105  33.567423 -118.425122
305     105  33.567034  -118.42524
306     105   33.56703 -118.425258
307     NaN  33.543892 -118.417105

[308 rows x 3 columns]

#### Renaming the columns using `lon_lat`

In [73]:
ctd_df = ctd_df.reindex(columns=["Longitude", "Latitude", "Cast"])
ctd_df.columns = ["LonDec","LatDec","Cast"]
ctd_df

         LonDec     LatDec    Cast
0   -119.331762  33.604518  Cast 2
1   -119.331774  33.604542       2
2   -119.331765  33.604522       2
3   -120.647903  34.419305       4
4   -120.647896  34.419298       4
..          ...        ...     ...
303 -121.457939  34.360055     104
304 -118.425122  33.567423     105
305  -118.42524  33.567034     105
306 -118.425258   33.56703     105
307 -118.417105  33.543892     NaN

[308 rows x 3 columns]

### Fixing `mocness_df` dataframe

#### Dropping unnecessary columns

In [74]:
mocness_df.drop(drop_cols, axis = 1, inplace = True)
mocness_df

   Cast   Latitude   Longitude
0   NaN  33.806384 -120.418896
1   NaN  33.920693 -120.557683
2     1  36.512298 -122.272833
3     2  36.517624 -122.279545
4     2  36.625325  -122.33098
..  ...        ...         ...
56  NaN  36.183426 -122.169784
57  NaN  36.278634  -122.73969
58  NaN  36.326509 -122.760522
59  NaN  36.355552 -122.773653
60  NaN  34.727205 -130.539305

[61 rows x 3 columns]

#### Renaming columns + adjusting order

In [75]:
mocness_df = mocness_df.reindex(columns=["Longitude", "Latitude", "Cast"])
mocness_df.columns = ["LonDec","LatDec","Haul"]
mocness_df_new_columns = ["LonDec","LatDec","Size","Angle","Font","Justify","Haul"]
mocness_df = mocness_df.reindex(columns = mocness_df_new_columns)
mocness_df

        LonDec     LatDec  Size  Angle  Font  Justify Haul
0  -120.418896  33.806384   NaN    NaN   NaN      NaN  NaN
1  -120.557683  33.920693   NaN    NaN   NaN      NaN  NaN
2  -122.272833  36.512298   NaN    NaN   NaN      NaN    1
3  -122.279545  36.517624   NaN    NaN   NaN      NaN    2
4   -122.33098  36.625325   NaN    NaN   NaN      NaN    2
..         ...        ...   ...    ...   ...      ...  ...
56 -122.169784  36.183426   NaN    NaN   NaN      NaN  NaN
57  -122.73969  36.278634   NaN    NaN   NaN      NaN  NaN
58 -122.760522  36.326509   NaN    NaN   NaN      NaN  NaN
59 -122.773653  36.355552   NaN    NaN   NaN      NaN  NaN
60 -130.539305  34.727205   NaN    NaN   NaN      NaN  NaN

[61 rows x 7 columns]

## Saving the dataframes into the CSV files

In [76]:
ctd_df.to_csv("/Users/alexavndra/ccelter-work/conversion-work/CCE-P2107-CTD.csv", index=False)
mocness_df.to_csv("/Users/alexavndra/ccelter-work/conversion-work/CCE-P2107-MOCNESS.csv", index=False)